<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <title>tb-polymer-twitter demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../polymer/polymer.html">
    <link rel="import" href="../../paper-styles/demo-pages.html">
    <link rel="import" href="../../paper-input/paper-input.html">
    <link rel="import" href="../../paper-button/paper-button.html">
    <link rel="import" href="../tb-polymer-twitter.html">
</head>
<body unresolved>

<!-- An api-key attribute will be required to make the demos work -->
<!-- Get one here: http://api.tonybogdanov.com -->

<table style="width:100%;">
    <tbody>
    <tr>
        <td width="50%" valign="top">
            <h1>Raw example (auto-load)</h1>
            <tb-polymer-twitter limit="3" activate></tb-polymer-twitter>
            <p>&nbsp;</p>
        </td>
        <td width="50%" valign="top">
            <h1>Dynamic example</h1>
            <tb-polymer-twitter limit="3"></tb-polymer-twitter>
            <form action="#" onsubmit="return false" style="width:300px;">
                <paper-input name="api_key" label="API Key"></paper-input>
                <paper-input name="username" label="Username"></paper-input>
                <paper-button raised>Reload</paper-button>
            </form>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="50%" valign="top">
            <h1>Skin: Default</h1>
            <tb-polymer-twitter limit="3" skin="default"></tb-polymer-twitter>
            <form action="#" onsubmit="return false" style="width:300px;">
                <paper-input name="api_key" label="API Key"></paper-input>
                <paper-input name="username" label="Username"></paper-input>
                <paper-button raised>Reload</paper-button>
            </form>
            <p>&nbsp;</p>
        </td>
        <td width="50%" valign="top">
            <h1>Skin: Slider</h1>
            <tb-polymer-twitter limit="3" skin="slider"></tb-polymer-twitter>
            <form action="#" onsubmit="return false" style="width:300px;">
                <paper-input name="api_key" label="API Key"></paper-input>
                <paper-input name="username" label="Username"></paper-input>
                <paper-button raised>Reload</paper-button>
            </form>
            <p>&nbsp;</p>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function URLToArray(url) {
        if(0 > url.indexOf('?')) {
            return [];
        }
        var request = {};
        var pairs = url.substring(url.indexOf('?') + 1).split('&');
        for (var i = 0; i < pairs.length; i++) {
            if(!pairs[i])
                continue;
            var pair = pairs[i].split('=');
            request[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
        }
        return request;
    }
    (function($) {
        $('form paper-button').click(function(e) {
            var $form       = $(this).parents('form').first();
            var apiKey      = $form.find('[name="api_key"]').val();
            var username    = $form.find('[name="username"]').val();

            var dyn         = $form.prev().get(0);
            dyn.apiKey      = apiKey;
            dyn.username    = username;
            dyn.loadItems();

            history.replaceState(null, null, '?api_key=' + apiKey + '&username=' + username);
        });
        $(function() {
            var uri         = URLToArray(document.location.href.toString());
            if(0 == uri.length) {
                return;
            }
            $.each(uri, function(key) {
                $('[name="' + key + '"]').val(this);
            });
        });
    })(jQuery);
</script>

</body>
</html>
